<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>org.example.AboutUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Artem</servlet-name>
        <servlet-class>org.example.Artem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dmytro</servlet-name>
        <servlet-class>org.example.Dmytro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Daniil</servlet-name>
        <servlet-class>org.example.Daniil</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <url-pattern>/Artem</url-pattern>
        <servlet-name>Artem</servlet-name>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dmytro</servlet-name>
        <url-pattern>/Dmytro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Daniil</servlet-name>
        <url-pattern>/Daniil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
